* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.q1 {
    background-image: linear-gradient(to right, blue ,#770594)
}

.q2 {
    background-image: linear-gradient(to right, rgb(255, 34, 89) ,#fffb29)

}

.q3 {
    background-image: linear-gradient(to right, rgb(0, 157, 255) ,#54ce13)

}