* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product {
    width: 300px;
    height: 500px;
    padding: 16px;
    border-radius: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto;
    background: linear-gradient(to bottom, rgb(2, 2, 147) 10%, rgb(249, 249, 249) 70%);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    margin-bottom: 12px;
}

.product h2 {
    font-size: 24px;
    margin-bottom: 8px;

}

.product p {
    font-size: 16px;
    margin-bottom: 12px;
    color: #7b00ff;
}

.product span {
    font-size: 18px;
    font-weight: bold;
    color: #7b00ff;
    display: block;
    margin-bottom: 16px;
}

.product button {
    width: 60%;
    padding: 10px 16px;
    margin-left: 50px;
    margin-top: 100px;
    font-size: 16px;
    background-color: #7b00ff;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.product2 {
    width: 350px;
    height: 400px;
    border: #000 solid 1px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
}

.product2 img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 10px;
}

.product2 h2 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #0088ff;
}

.product2 p {
    font-size: 16px;
    margin-bottom: 12px;
    color: #000;
}

.product2 span {
    font-size: 18px;
    font-weight: bold;
    color: #fb8600;
    display: block;
    margin-bottom: 16px;
}

.product2 button {
    width: 40%;
    padding: 10px 16px;
    margin-top: 30px;
    font-size: 16px;
    background-color: #ffc800;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product3 {
    width: 350px;
    height: 400px;
    border: #000 solid 1px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
}

.product3 img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product3 h2 {
    font-size: 24px;
    margin-bottom: 8px;
    color: #000000;
}

.product3 p {
    font-size: 16px;
    margin-bottom: 12px;
    color: #000;
}

.product3 span {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    display: block;
    margin-bottom: 16px;
}

.product3 button {
    width: 40%;
    padding: 10px 16px;
    margin-top: 30px;
    font-size: 16px;
    background-color: #ffc800;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
